<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head.ejs %>
</head>
<body>
  <% include ./header.ejs %>
  <br>
  <h1>xush kelipsiz chatga</h1><hr>
  <br>
  <main>
    <div class="container-fluid">
      <input type="hidden" id="user" value="<%= user.username %>"/>
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-sucess">
            <div class="panel-heading">
              <h2>barcha foydalanuvchilar</h2></div>

            <div class="panel-body" id="scrl1">
              <ul id="list" ></ul> 
            </div> 
          </div>
        </div>
        <div class="col-sm-9">
          <div class="panel panel-sucess">
             <div class="panel-heading">
              <h3 id="frndName">Chat bolimi</h3>
            </div> 
            <div class="panel-body" id="scrl2">
              <p id="loading">Yuklanmoqda..... Iltimos kuting.</p>
              <p id="noChat">Xabarlar mavjud emas....</p>
              <p id="initMsg">!!...Chatni boshlash uchun foydalanuvchi ustiga bosing...!!</p>
              <ul id="hell0" ></ul>
              <ul id="messages"></ul>
              <p id="typing"  ></p>
            </div>
            <div class="panel-footer">
              <form id="chatForm" action="">
                <input id="myMsg" class="input-box-send" autocomplete="off" placeholder="Write Message Here.." />
                <button id="sendBtn" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> <b>Send</b></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include ./footer.ejs %>

  <script src="/js/scriptForChat.js"></script>
</body>
</html>
